h1 {
    font-family: "Georgia", sans-serif;
    margin: 1em !important;
}

#user {
    font-size: 1.5em;
}

div #left-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: left !important;
    justify-content: left !important;
}

div #center-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

div #right-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: right !important;
    justify-content: right !important;
}