h1 {
    font-family: "Georgia", sans-serif;
    margin: 1em !important;
}

#user {
    font-family: "Georgia", sans-serif;
    font-size: 1.5em;
}

div #main-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: row;
}

div #left-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

div #center-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div #right-div {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}