body {
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 500px;

}

header {
    font-family: "Georgia", sans-serif;
    flex: 0 70px;
}

#brand {
    font-size: 2.5em;
}

.nav-div {
    display: flex;
    flex-direction: column;
}

.nav-item {
    font-family: "Courier New", sans-serif;
    padding-top: 1em;
    padding-left: 1.5em;
    float: right;
}

menu {
    list-style: none;
    flex: 1;
    flex-direction: row !important;
}

.pizza img {
    width: 75%;
    height: 75%;
}

main {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    flex: 1 calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: "Georgia", sans-serif;
}

footer {
    color: antiquewhite !important;
    font-family: "Courier New", sans-serif;
    font-size: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    flex: 0 30px;
    justify-items: left;
}

.github {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em !important;
}

span {
    font-family: "Georgia", sans-serif;
}
