h1 {
    font-family: "Georgia", sans-serif;
    /* margin: 1em !important; */
}

#user {
    font-family: "Georgia", sans-serif;
    font-size: 1.5em;
}

/* #main-div {
    display: flex;
    flex-direction: column;
}

#left-div, #center-div, #right-div {
    flex: 1;
    margin: 2em;
    width: 30%;
    justify-content: center;

} */

#main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#left-div, #center-div, #right-div {
    flex: 1;
    margin-left: 2em;
    width: 30%;
}

#center-div {
    text-align: center;
}

#right-div {
    text-align: right;
}

@media (max-width: 900px) {
  #main-div {
    flex-direction: column; /* stack vertically on smaller screens */
  }
}


.center-div img {
    width: 80%;
}

li {
    list-style: none;
}

#saved-recipes {
    margin-top: 1em;
}